++++
<article class="pt-5 pb-5 border-bottom">
    <div class="blog-header clearfix pb-3">
        <div class="blog-author float-left">
            <img class="blog-avatar" src="https://www.w3schools.com/howto/img_avatar.png"/>
            <span class="pl-3">{{{authors}}}</span>
        </div>
        <div class="blog-date float-right">
            {{{publishedDate}}}
        </div>
    </div>
    <div class="pb-3">
        <h4>{{{title}}}</h4>
    </div>
    <div class="pb-3">
        {{{summary}}}
    </div>
    <div class="pb-3">
        <a href="{{{href}}}">Read more</a>
    </div>
</article>
++++