# maven
target

# idea
!.idea/icon.png
.idea
*.iws
*.ipr
*.iml

# generated content
generated

# generated images (asciidoctor-diagram)
.asciidoctor
generated_*.svg
generated_*.png

# node
.node
node_modules

# vscode
.vscode
