/* reset the centered content (better for landing pages) */
.page-content {
  border: none;
}
svg[role="group"] > g > g > g:nth-child(2) {
  visibility: hidden;
}
#project-diagram {
  min-height: 500px;
}
.project-ulist li, .project-ulist li > p {
  display: inline;
}
.project-ulist ul {
  margin: auto;
  width: 1140px;
}
.yupiik-logo {
  max-height: 30px;
  margin-top: -0.25rem;
}
.sect1+.sect1 {
  border-top: none;
}
.icon-important:before {
    color: #fa131b !important;
}
.icon-note:before {
    color: #1845AA !important;
}
.icon-tip:before {
    color: #01c1fc !important;
}
.icon-warning:before {
    color: #ffc300 !important;
}