/* reset the centered content (better for landing pages) */
.page-content {
  border: none;
  padding: 0;
}
p {
  font-size: large;
}
#index-html-container.container,
#community-html-container.container,
#projects-html-container.container {
  max-width: none !important;
}
@media (min-width: 1px) {
  #index-html-container .page-content-body,
  #community-html-container > .page-content-body,
  #projects-html-container > .page-content-body {
    max-width: none !important;
  }
}
#index-html-container > div.page-header,
#projects-html-container > div.page-header,
#community-html-container > div.page-header {
  display: none;
}

#content h1>a.anchor:before,
#toctitle>a.anchor:before,
.sidebarblock>.content>.title>a.anchor:before,
h2>a.anchor:before,
h3>a.anchor:before,
h4>a.anchor:before,
h5>a.anchor:before,
h6>a.anchor:before {
  display: none;
}
#content h1:hover>a.anchor,
#content h1>a.anchor:hover,
#toctitle:hover>a.anchor,
#toctitle>a.anchor:hover,
.sidebarblock>.content>.title:hover>a.anchor,
.sidebarblock>.content>.title>a.anchor:hover,
h2:hover>a.anchor,
h2>a.anchor:hover,
h3:hover>a.anchor,
h3>a.anchor:hover,
h4:hover>a.anchor,
h4>a.anchor:hover,
h5:hover>a.anchor,
h5>a.anchor:hover,
h6:hover>a.anchor,
h6>a.anchor:hover {
  visibility: hidden;
}
.page-navigation-right {
  display: none;
}

.banner-home {
  background-image: url("/img/home.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 30rem;
  font-size: 24px;
}

.banner-home .lead {
  font-weight: 600;
}

.section {
  min-height: 20rem;
  font-size: 24px;
}

.section-content {
  max-width: 1140px;
  margin: auto;
}

svg[role="group"] > g > g > g:nth-child(2) {
  visibility: hidden;
}
#project-diagram {
  min-height: 500px;
}
.project-ulist li, .project-ulist li > p {
  display: inline;
}
.project-ulist ul {
  margin: auto;
  width: 1140px;
}

.project {
  margin: auto;
  width: 960px;
}

.card {
  border-radius: 0rem !important;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  background: none !important;
}
.yupiik-logo {
  max-height: 30px;
  margin-top: -0.25rem;
}
.sect1+.sect1 {
  border-top: none;
}
.icon-important:before {
    color: #fa131b !important;
}
.icon-note:before {
    color: #1845AA !important;
}
.icon-tip:before {
    color: #01c1fc !important;
}
.icon-warning:before {
    color: #ffc300 !important;
}

div.content > img {
    display:block;
    margin:auto;
}

.category-infrastructure {
    color:#3069DE !important;
}
.category-technology {
    color:#08bd68 !important;
}
